<li class="comment li-comment {% if comment.sender == user %} right {% else %} left {% endif %}">
  <div class="user-comment {% if comment.sender == user %} right {% else %} left {% endif %}">
    {{ comment.content|nl2br }}
  </div>
</li>