{% extends '@App/layout/layout.html.twig' %}

{% block title %}Salle d'attente{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    <div>
        <div id="data" data-id-me="{{ user.id }}" data-id-game="{{ game.id }}"></div>
        <br>
        <h1 style="text-align: center">GO GAME</h1>
        <br>
        <h2 style="text-align: center">Veuillez patienter quelques instants pendant que nous cherchons un adversaire pour vous</h2>
    </div>

{% endblock %}

{% block js %}

    <script>
        $(function () {

            //Récupération de mon id et de la partie
            let me = $('#data').data('id-me');
            let game = $('#data').data('id-game');

            //Abonnement au channel propre à la partie
            let gameChannel = pusher.subscribe('game-' + game);

            gameChannel.bind('new_player', function (data) {
                //Redirection vers le salon de jeu
                window.location.href = Routing.generate('play', {'user': me});
            });
        });
    </script>

{% endblock %}