.btn-board{
  width: 7.69%;
  float: left;
}

.btn-board:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.empty{
  background: url("../img/plus.png") center;
  background-size: cover;
  margin: auto;
}

.empty:hover{
  background-color: chartreuse;
}

.black{
  background: url("../img/plus_black_dot.png") center;
  background-size: cover;
}

.white{
  background: url("../img/plus_white_dot.png") center;
  background-size: cover;
  //background-color: chartreuse;
}

