{% extends '@App/layout/layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Accueil</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-8">
        <div class="x_panel">
          <div class="x_content">
            <h1>Test pusher</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    h2.index {
      font-size: 23px;
      margin-top: 30px;
      border-bottom: 1px solid #eee;
      padding-bottom: 7px;
    }

    h3 {
      font-size: 18px;
      margin-top: 20px;
    }
  </style>

  <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
{% endblock %}



